body{
    background-color: aqua;
}

form{
    background-color: white;
    margin: 5% 10% 0% 10%;
    padding: 2% 1% 3% 2%;
    border-radius: 50px;
}

.cadastroH3{
    text-align: center;
    size: 1px;
}