<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Bem vindo!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </head>
  <body>
    <!--Vou deixar escondido algumas coisas, para na hora que eu clicar em Jogar, eu vou conferir se já existe uma sessão logada, assim, se não tiver, aparece os botões de se logar ou cadastrar-->
    <!--Ou seja, quando eu clicar em jogar, vou conferir se tem uma sessão, se tiver, vai ir direto para os quizzes, senão, vai pedir pra logar ou registrar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" href="/quizdearte/index.php">Página Inicial</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="/quizdearte/view/registrar.php">Registrar-se</a>
        </li><li class="nav-item">
            <a class="nav-link" href="/quizdearte/view/logar.php">Logar</a>
        </li>
        -->
          <li class="nav-item">
            <a class="nav-link" href="/quizdearte/view/jogar.php">Jogar</a>
          </li>
        
      </ul>
    </nav>
  </body>
</html>